<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue入门</title>
</head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<body>
    <div id="app">
        {{message}}
        <br>
        <br>
        <br>
        <input type="text" v-model='name'><span v-show='name'>你的名字:{{name}}</span><br>
        <input type="text" v-model='age'><span v-show='age'>你的年龄:{{age}}</span><br>
        <input type="text" v-model='sex'><span v-show='sex'>你的性别:{{sex}}</span><br>
        <br>
        <ul>
            <li v-for="food in foodfist1">{{food}}</li>
        </ul>
        <br>  
        <ul>
            <li v-for="food in foodfist2">
                {{food.name}}&nbsp;&nbsp;￥{{food.price}}&nbsp;&nbsp;折扣{{food.discount}}折&nbsp;&nbsp;折扣价{{food.price*food.discount}}￥
            </li>
        </ul>
        <br>
    </div>
</body>
<script>
        var app = new Vue({
            el:'#app',
            data: {
                message: 'Hello world!',
                name:'张桃',
                age:'18',
                sex:'男',
                foodfist1:["葱","姜","蒜"],
                foodfist2:[
                    {name:'葱',price:'3',discount:'0.9'},
                    {name:'姜',price:'5',discount:'0.8'},
                    {name:'蒜',price:'10',discount:'0.8'}
                ]
            }
        })
</script>
</html>